@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: black !important;
  z-index: 10;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.navbar-nav {
  margin-left: auto !important;
}

/* .smallimg{
  height: 100px;
  width: 100% !important;
  border: radius 5px !important  ;
} */

h1 {
  font-size: 20px !important;
}

.btn {
  background-color: black !important;
  color: white !important;
  box-shadow: none !important;
}

.cancelBtn {
  padding: 6px 15px;
  font-size: 16px;
  border: 2px solid transparent;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 10px !important;
  border-color: #ff0000;
  transition: color 0.3s, border-color 0.3s;
}

.cancelBtn:hover {
  color: #ff0000;
  border-color: #ff0000;
  background-color: #ffffff;
}


.smallimg {
  height: 200px;
  width: 100% !important;

  border-radius: 5px !important;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}

.bigimg {
  height: 400px;
  width: 100%;
  padding-bottom: 20px;
  border-radius: 5px !important;
}

input {
  box-shadow: none !important;
  margin-top: 10px !important;
  border: 1px solid black !important;
  width: 100% !important;
  border-radius: 3px !important;
  height: 35px !important;

}

select {
  padding: 10px;
  box-shadow: none !important;
  margin-top: 10px !important;
  border: 1px solid black !important;
  width: 100% !important;
  border-radius: 3px !important;

}

h2 {
  font-size: 30px !important;
  padding: 10px;
  font-weight: bold !important;
  text-align: center;
}

p {
  font-size: 16px !important;
}

.dropdown-toggle {
  border: 0px solid black !important;
}

.ant-picker-input input {
  border: none !important;
  border-radius: 3px !important;
  height: 35px !important;
}

.landing {
  background-color: black;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.landingBtn {
  padding: 10px 30px;
  font-size: 16px;
  border: 2px solid transparent;
  background-color: black;
  color: #ffffff;
  border-radius: 10px !important;
  border-color: #f3f3f3;
  transition: color 0.3s, border-color 0.3s;
}

.landingBtn:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}